.dashboard-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }


  .dashboard-title{
    font-weight: bold;
    font-size: 18px;
    padding:13px;
    margin:0px;
  }
  
  .dashboard-card {
    display: flex;
    flex-direction: row;
    margin: 10px;
    width: 100%;
    gap: 10px;
    text-align: center;
    box-sizing: border-box; 
  }
  
  .distance,
  .walkies,
  .group-walkies,
  .favourites {
    /* margin-top: 20px; */
    border: 1px solid white;
    border-radius: 10px;
    width: 25%;
    border-radius: 10px;
  background: #ffffff;
  box-shadow:  -7px 7px 100px #e6e6e6,
  7px -7px 100px #ffffff;  
  }

  .fav-members{
    font-size: 15px;
    list-style: auto;
    padding-top: 5px;
  }

  .favourites{
    overflow: scroll;
    object-fit: cover;
    font-size: 13px;
  }

  .title{
    text-align: start !important;
    font-size: 15px;
    padding-left: 5px;
  }
  .data{
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0px 0px 0px;

  }


  
  /* .favourites ul {
    list-style: none;
    padding: 0;
  }
  
  .favourites li {
    margin-bottom: 10px;
  } */