.walkieform-container {
    height: 90vh;
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    padding: 30px 30px 30px 0px;
    background: linear-gradient(
      270deg,
      rgba(123, 184, 177, 1) 1%,
      rgba(247, 247, 239, 1) 100%
    );
  }
  
  .dog1-card {
    flex: 1;
  }
  .w-dog-image {
    height: 600px;
    width: auto;
    padding-left: 100px;
  }
  .dog2-card{
    flex:3;
  }
  .walkieform-card {
    flex: 2;
    flex: 0 0 30%;
    background-color: #fff;
    padding: 30px 60px;
    border-radius: 10px;
    margin: 150px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    align-items: center;
    box-shadow: -7px 7px 100px #e6e6e6, 7px -7px 100px #ffffff;
  }
  input {
    padding: 5px;
    width: 250px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  .label {
    display: block;
  }
  