.dog-card-container {
  margin-top: 100px;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    270deg,
    rgba(123, 184, 177, 1) 1%,
    rgba(247, 247, 239, 1) 100%
  );
  padding-top: 20px;
}

.dog-card-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  text-align: center;
  padding: 50px;
  height: 400px;
  width: 650px;
  border-radius: 10px;
  box-shadow: -7px 7px 100px #e6e6e6, 7px -7px 100px #ffffff;
}

.dog-card-details {
  flex: 1;
  padding-top: 10px;
  font-size: 20px;
  text-align: start;
  padding-left: 30px;
  color: #253649;
}

.dog-img {
  height: 300px;
  width: auto;
}

.mem-btn.button {
  color: #253649;
  font-size: 16px;
}

.dog-list {
  display: flex;
}

@media (max-width: 768px) {
  .dog-card-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    width: 350px;
    padding: 20px;
  }
  .dog-card-container {
    height: 693px;
    padding: 20px;
    margin: unset !important;
  }
  .dog-img{
    width: 80%;
    margin-left: 10%;
  }
}
