.group-wrapper {
  display: grid;
  justify-content: center;
  text-align: center;
  justify-items: center;
  /* text-decoration: none; */
  padding: 10px;
  border-radius: 19px;
  background: #9ccac5;
  box-shadow: inset 8px 8px 16px #828282, inset -8px -8px 16px #ffffff;
  color: #253649;
  font-weight: 700;
}

.group-wrapper h2{
    color: #253649;
}

