.group-wrapper {
  display: grid;
  justify-content: center;
  text-align: center;
  justify-items: center;
  /* text-decoration: none; */
  padding: 10px;
  border-radius: 19px;
  background: #9ccac5;
  box-shadow: inset -11px 11px 22px #bababa, inset 11px -11px 22px #ffffff;
  color: #253649;
  font-weight: 700;
}

.group-wrapper h2 {
  color: #253649;
}
