.group-list-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10%;
    justify-content: center;
    list-style: none;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 12%;
}

h2{
    margin: 4px;
}

.list{
    text-decoration: none;
}
.group-link {
    text-decoration: none;
    color: black;
  }

  .group-wrapper{
    
  }

  .group-btn {
    width: 160px;
    height: 35px;
    margin: 4%;
    padding: 2px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    color: #253649;
    transition: background-color 0.3s ease;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .group-btn:hover {
    background-color: rgb(139, 232, 188);
    color: white;
  }
  
  .group-btn a {
    font-size: 16px;
    color: #253649;
  }