.sidebar-container {
  height: 234px;
  width: 150px;
  display: inline-grid;
  gap: 30px;
  
}


.side-button {
  border-radius: 10px;
  background: #d4e5de;;
  box-shadow: inset -11px 11px 22px #bababa, inset 11px -11px 22px #ffffff;
  border: none;
  
}
