.current_user_container {
  border-radius: 10px;
  box-shadow: -7px 7px 100px #e6e6e6, 7px -7px 100px #ffffff;

  height: 234px;
}

.user-header {
  padding: 10px 0px 30px 10px;
  font-style: italic;
}
.user-card {
  display: flex;
  padding-left: 26px;
}

img {
  width: 112px;
  height: auto;
  border-radius: 10px;
  
}

.user-details {
  padding-left: 20px;
}
