.member-card-container {
  height: 95vh;
  display: flex ;
  align-items: center;
  justify-content: center;
}

.member-card-wrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
margin: 0px;
  text-align: center;
  padding: 3%;
  height: 60%;
  width: 50%;
}
.member-card-details{
  flex: 1;
}

.image{
    height: 30%;
}

.name{
    font-weight: bold;
}
button{
    width: 30%;
    margin: 2%;
    padding: 2px;

}

.dogs{
  text-decoration: none;
  list-style: none;
}

.dog-details{
  flex: 2 right;
  text-align: start !important;
  text-decoration: none;
  color: black;
  justify-content: center;
}

.dog-link{
  text-decoration: none;
  color: black;
}

.dog-container{
  border: 1px solid black;
  margin: 5px;
  margin-bottom: 10px;
  padding: 20px;
  justify-content: center;

}
